<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TracerShow</title>
    <script src="https://unpkg.com/vue@3.2.23/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flyio@0.6.14/dist/fly.min.js"></script>
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .editor {
            position: fixed;
            width: 90%;
            top: 10%;
            left: 5%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="editor columns box" v-if="editor.item !== null">
            <div class="column">
                <div>
                    <div class="field">
                        <label class="label">中文</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="editor.item.Key"></textarea>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">翻译</label>
                        <div class="control">
                            <textarea class="textarea" v-model="editor.item.Value"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">评分</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">备注</label>
                        <div class="control">
                            <textarea class="textarea" v-model="editor.item.Comment"></textarea>
                        </div>
                    </div>


                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" @click="close_editor()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <div class="field">
                        <label class="label">有道</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="editor.youdao"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Google</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="editor.google"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">百度</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="editor.baidu"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table is-striped">
            <thead>
                <tr>
                    <th> 中文 </th>
                    <th> 英文 </th>
                    <th> 提交 </th>
                    <th> 评分 </th>
                    <th> 备注 </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in translates">
                    <td style="width: 400px;">
                        <div class="block">{{ i.Key }}</div>
                    </td>
                    <td style="width: 400px;">
                        <div class="block" @click="edit(i)">{{ i.Value }}</div>
                    </td>
                    <td>
                        <button class="button is-success" v-if="i.origin !== i.Value" @click="commit(i)">
                            <span class="icon is-small">
                                <i class="fas fa-check"></i>
                            </span>
                        </button>
                    </td>
                    <td style="text-align: center; vertical-align: middle;"> {{ i.Star }}</td>
                    <td style="width: 200px;">
                        <div class="block" @click="edit(i)">{{ i.Comment }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        const app = Vue.createApp({
            data() {
                return {
                    translates: [],
                    editor: {
                        youdao: '',
                        baidu: '',
                        google: '',
                        item: null
                    }
                }
            },
            methods: {
                load() {
                    fly.get('/translates-editor')
                        .then(function (response) {
                            console.log(response.data);
                            app.translates = response.data;
                            app.init();
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert(error);
                        });
                },
                init() {
                    for (const i of this.translates) {
                        i.origin = i.Value;
                    }
                },
                edit(i) {
                    this.editor.item = i;
                    // auto translate
                },
                close_editor() {
                    this.editor.item = null;
                },
                commit(i) {
                    let commit = {
                        Key: i.Key,
                        Value: i.Value,
                    }
                    fly.post('/commit-translate', commit)
                        .then(function (response) {
                            i.origin = i.Value;
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert(error);
                        });
                }
            },
            created() {
                this.load();
            }
        }).mount('#app');
    </script>
</body>

</html>