<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FVBI Translate</title>
    <script src="https://unpkg.com/vue@3.2.23/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flyio@0.6.14/dist/fly.min.js"></script>
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .editor {
            position: fixed;
            width: 90%;
            top: 10%;
            left: 5%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="editor columns box" v-if="editor.item !== null" style="z-index: 1;">
            <div class="column">
                <div>
                    <div class="field">
                        <label class="label">中文</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="editor.item.Key"></textarea>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">翻译</label>
                        <div class="control">
                            <textarea class="textarea" v-model="editor.copy.value"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">评分</label>
                        <div class="control">
                            <div class="select">
                                <select v-model.number="editor.copy.star">
                                    <option disabled value=0>未评</option>
                                    <option value=1>1 必改</option>
                                    <option value=2>2 得改</option>
                                    <option value=3>3 凑合</option>
                                    <option value=4>4 不错</option>
                                    <option value=5>5 完美</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">备注</label>
                        <div class="control">
                            <textarea class="textarea" v-model="editor.copy.comment"></textarea>
                        </div>
                    </div>


                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" @click="commit()">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" @click="close_editor()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <div class="field" v-for="t in auto_translate">
                        <label class="label">{{ t.channel }}</label>
                        <div class="control">
                            <textarea class="textarea" readonly v-model="t.translate"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table is-striped">
            <thead>
                <tr>
                    <th> 中文 </th>
                    <th> 英文 </th>
                    <th> 评分 </th>
                    <th> 备注 </th>
                </tr>
                <tr>
                    <th> <input class="input" type="text" placeholder="筛选中文" v-model="filter.key"> </th>
                    <th> <input class="input" type="text" placeholder="筛选英文" v-model="filter.value"> </th>
                    <th> <input class="input" type="text" style="width: 50px;" v-model="filter.star"> </th>
                    <th> <input class="input" type="text" placeholder="筛选备注" v-model="filter.comment"> </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in filtered">
                    <td style="width: 400px;">
                        <div class="block">{{ i.Key }}</div>
                    </td>
                    <td style="width: 400px;" @click="edit(i)">
                        <div class="block">{{ i.Value }}</div>
                    </td>
                    <td style="text-align: center; vertical-align: middle;"> {{ i.Star }}</td>
                    <td style="width: 300px;" @click="edit(i)">
                        <div class="block">{{ i.Comment }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        const app = Vue.createApp({
            data() {
                return {
                    translates: [],
                    editor: {
                        auto_trans_text: '',
                        item: null,
                        copy: {
                            value: '',
                            star: 0,
                            comment: '',
                        }
                    },
                    filter: {
                        key: '',
                        value: '',
                        star: 0,
                        comment: '',
                    },
                    auto_translate: [
                        {
                            channel: '有道',
                            url: 'http://fanyi.youdao.com/translate?&doctype=json&type=AUTO&i=<input>',
                            translate: '',
                            handle(resp) {
                                let data = JSON.parse(resp);
                                return data.translateResult[0][0].tgt;
                            }
                        },
                        // {
                        //     channel: '谷歌',
                        //     url: 'http://translate.google.cn/translate_a/single?client=gtx&dt=t&dj=1&ie=UTF-8&sl=auto&tl=en&q=<input>',
                        //     translate: ''
                        // },
                    ]
                }
            },
            computed: {
                filtered() {
                    return this.translates.filter(function (t) {
                        let ft = app.filter;
                        return ((ft.key.length === 0 || t.Key.indexOf(ft.key) !== -1)
                            && (ft.value.length === 0 || ((ft.value === '@' && t.Value.length === 0) || t.Value.indexOf(ft.value) !== -1))
                            && t.Star >= ft.star
                            && (ft.comment.length === 0 || t.Comment.indexOf(ft.comment) !== -1)
                        );
                    })
                }
            },
            methods: {
                load() {
                    fly.get('/translates-editor')
                        .then(function (response) {
                            app.translates = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert(error);
                        });
                },
                edit(i) {
                    this.editor.item = i;
                    this.editor.copy.value = i.Value;
                    this.editor.copy.star = i.Star;
                    this.editor.copy.comment = i.Comment;
                    this.editor.auto_trans_text = i.Key;
                    this.auto_trans();
                },
                auto_trans() {
                    for (const t of this.auto_translate) {
                        let url = t.url.replace('<input>', this.editor.auto_trans_text)
                        fly.post('/auto-translate', url)
                            .then(function (response) {
                                console.log(response.data);
                                t.translate = t.handle(response.data);
                            })
                            .catch(function (error) {
                                console.log(error);
                                alert(error);
                            });
                    }
                },
                close_editor() {
                    this.editor.item = null;
                },
                commit() {
                    let editor = this.editor;
                    let copy = editor.copy;
                    let item = editor.item;
                    let commit = {
                        Key: item.Key,
                        Value: copy.value,
                        Star: copy.star,
                        Comment: copy.comment,
                    }

                    // TODO: prevent user action
                    fly.post('/commit-translate', commit)
                        .then(function (response) {
                            item.Value = copy.value;
                            item.Star = copy.star;
                            item.Comment = copy.comment;
                            app.close_editor();
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert(error);
                        });
                }
            },
            created() {
                this.load();
            }
        }).mount('#app');
    </script>
</body>

</html>